.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;

    &__title {
        font-weight: 700;
    }

    th {
        padding: 5px 0;
    }
}

.list {
    text-align: center;
}

.persons-empty {
    font-weight: bold;
}